.header {
  height: 60px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #383838;
}

.texto-header{
  padding-right: 80px;
}

a:visited, a:hover, a:link{
  color: #383838;
  text-decoration: white;
}